body {
  background-color: aqua;
}

.body_main {
  background-color: antiquewhite;
  border: 3px solid red;
  display: block;
  text-align: center;
  margin-top: 200px;
  margin-left: 400px;
  margin-right: 400px;
}

.article-main {}

.article_h1 {
  font-size: 30px;
}

.div-dangky {}

.ten-ho {
  margin-top: -10px;
}

.form-ten {
  display: inline-block;
}

.input-form-ten {
  border: 2px solid red;
  border-radius: 3px;
  font-size: 16px;
  padding: 3px 70px 3px 10px;
}

.form-ho {
  display: inline-block;
}

.input-form-ho {
  border: 2px solid red;
  border-radius: 3px;
  font-size: 16px;
  padding: 3px 70px 3px 10px;
}

.std-user {
  margin-top: -10px;
}

.form-sdt {
  display: inline-block;
}

.input-form-sdt {
  border: 2px solid red;
  border-radius: 3px;
  font-size: 16px;
  padding: 3px 70px 3px 10px;
}

.form-user {
  display: inline-block;
}

.input-form-user {
  border: 2px solid red;
  border-radius: 3px;
  font-size: 16px;
  padding: 3px 70px 3px 10px;
}

.pass-passlai {
  margin-top: -10px;
}

.form-pass {
  display: inline-block;
}

.input-form-pass {
  border: 2px solid red;
  border-radius: 3px;
  font-size: 16px;
  padding: 3px 70px 3px 10px;
}

.form-passlai {
  display: inline-block;
}

.input-form-passlai {
  border: 2px solid red;
  border-radius: 3px;
  font-size: 16px;
  padding: 3px 70px 3px 10px;
}

.button-dangky {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid blue;
  border-radius: 3px;
  background-color: blue;
}

.dangky {
  font-size: 18px;
  text-decoration: none;
  padding: 5px 100px;
  color: white;
}

.ten {
  display: inline-block;
  margin-left: -250px;
  margin-right: 250px;
  font-size: 18px;
}

.ho {
  display: inline-block;
  font-size: 18px;
  /* margin-left: 200px; */
}

.sdt {
  display: inline-block;
  margin-left: -165px;
  margin-right: 180px;
  font-size: 18px;
}

.user {
  display: inline-block;
  font-size: 18px;
}

.pass {
  display: inline-block;
  margin-left: -140px;
  margin-right: 205px;
  font-size: 18px;
}

.passlai {
  display: inline-block;
  font-size: 18px;
}