.body {
  background-color: aqua;
}

.body_footer {
  border: 3px solid red;
  background-color: aliceblue;
  /* display: block;
  text-align: center; */
}

.footer_div1 {
  display: inline-block;
  margin-left: 100px;
}

.div1_ul {
  list-style: none;
}

.ul1_li {
  list-style: none;
  margin-top: 10px;
}

.div1_h1 {
  font-size: 20px;
}

.div1_a {
  text-decoration: none;
  color: blue;
  font-size: 18px;
}

.footer_div2 {
  display: inline-block;
  margin-left: 50px;
}

.div2_ul {
  list-style: none;
}

.ul2_li {
  list-style: none;
  margin-top: 10px;
}

.div2_h1 {
  font-size: 20px;
}

.div2_a {
  text-decoration: none;
  color: blue;
  font-size: 18px;
}

.footer_div3 {
  display: inline-block;
  margin-left: 50px;

}

.div3_ul {
  list-style: none;
}

.ul3_li {
  list-style: none;
}

.div3_h1 {
  font-size: 20px;
}

.div3_p {
  font-size: 18px;
}

.div3_p--a {
  text-decoration: none;
  color: blue;
}

/* .ul3_li--div3_p_sdt {
  display: inline-block;
  color: red;
  list-style: none;
}
.div3_p_sdt {
  font-size: 20px;
}

.ul3_li--div3_p_free {
  display: inline-block;
  list-style: none;
}
.div3-p-free {
  font-size: 18px;
} */
.footer_div4 {
  display: inline-block;
  margin-left: 50px;
}

.div4_ul {
  list-style: none;
}

.ul4_li {
  list-style: none;
}

.div_h1 {
  font-size: 20px;
}

.div_p {
  font-size: 18px;
}

.div4_p--a {
  text-decoration: none;
  color: blue;
}

.ul1_li {
  margin-top: 20px;
}