.clear {
    clear: both;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: rgb(23, 28, 36);
    top: 0;
    z-index: 1;
    height: 60px;

}

.header__img-logo {
    /* background-color: #fff; */
    margin-left: 20px;

}

.img__logo {
    width: 119px;
    border-bottom: 1px solid #000;
}

.header__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav__list {
    display: flex;
    margin-left: 25px;
}

.header__nav__list li a {
    font-size: 14px;
    padding: 24px;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .17s ease;
}

.header__nav__list>li:hover>a,
.header__nav__sub>li:hover a {
    color: #ff3d00;
    /* opacity: 0.7; */
}

.header__nav__sub li a {
    display: block;
    padding: 0 24px;
    color: #ffffff;
    border-bottom: 0.9px solid #e8e8e8;
}

.header__nav__sub {
    display: none;
    position: absolute;
    background-color: rgb(23, 28, 36);
    transform: translateY(-10px);

}

.header__nav__list li:hover .header__nav__sub {
    display: block;
}

.nav-r {
    display: flex;
}

.header__search {
    display: flex;
    height: 30px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
}

.header__input-wrap {
    flex: 1;
    height: 100%;
}

.header__input-text {
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 6px 13px;
    line-height: 18px;
}

.header__search-btn {
    background-color: #000;
    border-radius: 0 30px 30px 0;
    width: 34px;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
}

.header__search--btn-icon {
    font-size: 20px;
    color: #fff;
    padding: 5px;

}

.header__search--btn-icon:hover {
    color: #ff3d00;
}

.header__cart-icon:hover {
    color: #ff3d00;
}

.header__cart {
    position: relative;
    margin-right: 25px;
}

.header__cart-icon {
    color: white;
    font-size: 25px;
    margin-top: 5px;
    padding-left: 5px;
}