 /* Nguyen Duy Tan B2003919 */
 @import url('https://fonts.googleapis.com/css?family=Poppins');
 @import url('https://fonts.googleapis.com/css?family=Roboto');

 :root {
     --white--color: #fff;
     --black--color: #000;
     --header--font: 'Poppins', sans-serif;
     --title--font: 'Roboto', sans-serif;
 }

 .page__main {
     background-color: rgb(247, 247, 247);
 }

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 .grid {
     width: 1200px;
     max-width: 1200px;
     margin: 0 auto;
 }

 .grid__full-with {
     width: 100%;
 }

 .grid__row {
     display: flex;
     flex-wrap: wrap;
     margin-left: -12px;
     margin-right: -12px;
 }

 .grid__column--2 {
     padding-left: 12px;
     padding-right: 12px;
     width: 16.6667%;
 }

 .grid__column--10 {
     padding-left: 12px;
     padding-right: 12px;
     width: 66.6667%;
 }

 /* header */
 .clear {
     clear: both;
 }

 a {
     text-decoration: none;
 }

 li {
     list-style: none;
 }

 .header {
     font-family: var(--header--font);
     position: fixed;
     display: flex;
     width: 100%;
     background-color: rgb(23, 28, 36);
     top: 0;
     z-index: 1;
     height: 60px;
     left: 0;
     right: 0;
 }

 .header__img-logo {

     margin-left: 20px;

 }

 .img__logo {
     width: 119px;
     border-bottom: 1px solid #000;
 }

 .header__nav {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .nav__menu--mobile {

     color: #ffffff;
 }

 .header__nav__list {
     display: flex;
     margin-left: 25px;
 }

 .header__nav__list li a {
     font-size: 14px;
     padding: 24px;
     height: 60px;
     line-height: 60px;
     color: #ffffff;
     font-weight: 600;
     text-transform: uppercase;
     transition: all .17s ease;
 }

 .header__nav__list>li:hover>a,
 .header__nav__sub>li:hover a {
     color: #ff3d00;

 }

 .header__nav__sub li a {
     display: inline-block;
     padding: 0 24px;
     color: #ffffff;
     border-bottom: 0.9px solid #e8e8e8;
 }

 .header__nav__sub {
     display: none;
     position: absolute;
     background-color: rgb(23, 28, 36);
     transform: translateY(-10px);
 }

 .header__nav__list li:hover .header__nav__sub {
     display: block;
 }

 .nav__form {
     display: flex;
     align-items: center;
 }

 .header__search {
     display: flex;
     height: 30px;
     background-color: #fff;
     border-radius: 30px;
     position: relative;
 }

 .header__input-wrap {
     flex: 1;
     height: 100%;
 }

 .header__input-text {
     font-family: inherit;
     height: 100%;
     width: 85%;
     border: none;
     outline: none;
     font-size: 17px;
     padding: 6px 13px;
     line-height: 18px;
 }

 .header__search-btn {
     background-color: #000;
     border-radius: 0 30px 30px 0;
     width: 34px;
     border: none;
     position: absolute;
     top: 0px;
     right: 0px;
 }

 .header__search--btn-icon {
     font-size: 20px;
     color: #fff;
     padding: 5px;

 }

 .header__search--btn-icon:hover,
 .header__cart-icon:hover,
 .nav__menu--mobile:hover {
     color: #ff3d00;
 }


 .header__cart {
     position: relative;
     margin-right: 25px;
 }

 .header__cart-icon {
     color: white;
     font-size: 25px;
     margin-top: 5px;
     padding-left: 5px;
 }

 @media(min-width:1031px) {
     .nav__menu--mobile {
         display: none;
     }
 }

 /*reponsive tablet */
 @media(min-width:768px) and (max-width:1030px) {
     .nav__menu--mobile {
         display: none;
     }

     .header__nav__list {
         margin-left: 0;
         white-space: nowrap;
     }

     .header__nav__list li a {
         line-height: normal;
         padding: 5px 20px;
         height: 45px;

     }

     .header__nav__sub {
         margin-top: 25px;
     }

     .header__nav--tablet {
         justify-content: space-evenly;
     }

     @media(max-width:920px) {
         .header__search {
             display: none;
         }
     }
 }


 /*reponsive mobile */
 @media(max-width:767px) {

     .hide-on-mobile {
         display: none;
     }

     .header__img-logo {
         margin-left: 0;
     }

     .header {
         overflow: hidden;
     }

     .header,
     .header__nav__list {
         display: unset;
         margin-left: 0;
     }

     .header__nav__sub {
         position: relative;
     }

     .header__nav__list li a,
     .header__nav__sub li a {
         border-bottom: unset;
         padding: unset;
     }

     .header__nav {
         align-items: baseline;

     }

     .header__nav--mobile {
         /* justify-content: flex-end; */
     }

     .header__cart {
         margin-right: 10px;
     }
 }

 /* "footer" */
 .body_footer {
     border: 1px solid black;
     background-color: aliceblue;
     /* display: block;
    text-align: center; */
     font-family: var(--title--font);
 }

 .footer__div {
     display: flex;
     justify-content: space-evenly;
 }

 .footer_div1 {}

 .div1_ul {}

 .ul1_li {}

 .div1_h1 {
     font-size: 20px;
 }

 .div1_a {
     text-decoration: none;
     color: blue;
     font-size: 18px;
 }

 .footer__div__item {
     padding-top: 15px;
     line-height: 1.6;
 }

 .footer_div2 {}

 .div2_ul {}

 .ul2_li {}

 .div2_h1 {
     font-size: 20px;
 }

 .div2_a {
     text-decoration: none;
     color: blue;
     font-size: 18px;
 }

 .footer_div3 {}

 .div3_ul {}

 .ul3_li {}

 .div3_h1 {
     font-size: 20px;
 }

 .div3_p {
     font-size: 18px;
 }

 .div3_p--a {
     text-decoration: none;
     color: blue;
 }

 .footer_div4 {}

 .div4_ul {}

 .ul4_li {}

 .div_h1 {
     font-size: 20px;
 }

 .div_p {
     font-size: 18px;
 }

 .div4_p--a {
     text-decoration: none;
     color: blue;
 }

 .ul1_li {}