@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Mukta:wght@500&family=Poppins:ital,wght@0,200;0,600;1,200&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    border: none;
    transition: .2s linear;
}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
    width: 2.5rem;
}

.header .navbar a {
    font-size: 1.7rem;
    color: white;
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: crimson;
}

.header .icons div {
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: white;
}

.header .icons div:hover {
    color: crimson;
}

/*.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    background: red;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
}
.btn:hover{
    background: crimson;
}
.home{
    padding-top: 14rem;
    background-size: cover;
    background-position: center;
    position: relative;
}
.home .slide-container .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    display: none;
    height: 1000px;
}
.home .slide-container .slide .content{
    flex: 1 1 40rem;
    animation: fadeLeft .4s linear .4s backwards;
}
.home .slide-container .slide .content span{
    color: white;
    font-size: 2.5rem;
}
.home .slide-container .slide .content h3{
    font-size: 6rem;
    color: black;
    padding: 0.5rem 0;
}
.home .slide-container .slide .img{
    flex: 1 1 40rem;
    margin: 3rem 0;
}
.home .slide-container .slide .img img{
    width: 100%;
    animation: fadeUp .4s linear;
}*/

section {
    padding: 15px 100px;
    /* background-color: lightsalmon; */
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .content h1 {
    font-size: 50px;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: bolder;
}

.home .content p {
    margin-bottom: 65px;
    font-size: 20px;
}

.home .content a {
    background: red;
    padding: 15px 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 1000;
    text-decoration: none;
    border-radius: 2px;
}

.home .content a:hover {
    background: orchid;
}

.home img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    object-fit: cover;
    background-position: center;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transform: 0.3s ease;
}

.banner-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.banner-container .banner {
    position: relative;
    height: 25rem;
    overflow: hidden;
}

.banner-container .banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-container .banner .content2 {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.banner-container .banner .content2 span {
    color: #fff;
    font-size: 2.5rem;
}

.banner-container .banner .content2 h3 {
    font-size: 3rem;
    padding-top: 0.5rem;
    color: red;
    padding-bottom: 1.5rem;
}

.banner-container .banner .content2 .btn {
    padding: 0.8rem 2.5rem;
}

.banner-container .banner:hover img {
    transform: scale(1.2);
}

.banner-container .banner .content2 a {
    background: red;
    padding: 15px 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 1000;
    text-decoration: none;
    border-radius: 2px;
}

.banner-container .banner .content2 a:hover {
    background: orchid;
}

.heading {
    background: url("img/EmergingTechnologies.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.heading h1 {
    color: #fff;
    font-size: 5rem
}

.title {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: 0.1rem solid black;
}

.title a {
    margin-left: auto;
    color: darkorchid;
    font-size: 1.5rem;
}

.title a:hover {
    color: #fff;
}

.category .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    padding: 4rem 0;
}

.category .box-container .box {
    text-align: center;
}

.category .box-container .box img {
    height: 15rem;
}

.category .box-container .box h3 {
    font-size: 2rem;
    margin: 1rem 0;
    color: #222;
}

.category .box-container .box:hover h3 {
    color: crimson;
}

.products .box-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    position: relative;
    background: #f3f3f3;
    text-align: center;
    overflow: hidden;
}

.products .box-container .box .icons {
    position: absolute;
    top: -105%;
    left: 0;
    width: 100%;
    height: 30rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(243, 243, 243, 0.8);
    gap: 1rem;
}

.products .box-container .box:hover .icons {
    top: 0;
}

.products .box-container .box .icons a {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    color: #222;
}

.products .box-container .box .icons a:hover {
    background: crimson;
    color: #fff;
}

.products .box-container .box .img {
    height: 20rem;
    width: 20rem;
    overflow: hidden;
}

.products .box-container .box .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.products .box-container .box .content2 {
    padding: 1.5rem;
}

.products .box-container .box .content2 h3 {
    font-size: 2rem;
    color: #222;
}

.products .box-container .box .content2 .price {
    font-size: 2rem;
    color: #222;
    padding: 1rem 0;
}

.products .box-container .box .content2 .stars i {
    font-size: 1.7rem;
    color: orange;
}